@import "styles.css";

$mainColor: #2C007E;
/*$secColor: rgb(97, 0, 126);*/
$backColor: rgba(0, 0, 0, 0.75);
$shadows: inset 0px -4px 15px rgba(44, 0, 126, 0.75);

.mainStyle:first-of-type{
    margin-top: 0px;
}

.jobsOrder {
    display: flex;
    flex-direction: column;
    transition: flex-direction 0.3s ease;
}

p{color: $mainColor; font-weight: bolder;}

.job{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h4{
    padding:20px;
}

.col{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cvSection{
    margin: 25px;
    padding: 20px;
    width: 250px;
    text-align: left;
    li::marker {
    color: $mainColor;
    font-size: 1.5rem;
}

    li{
    font-size: 1.2rem;
    margin-bottom: 2px;
}
}

ul{
    display: flex;
    flex-direction: column;
    gap:10px;
    padding: 0;
    width: fit-content;
}

.more {
    cursor: pointer;
}


.toggleDesc {
    display: none;
}

.arrow {
    display: inline-block;
    transition: transform 0.3s ease;
    margin-left: 10px;
    color: $mainColor;
    font-size: 1.5rem;
    text-shadow: none;
    border: 2px solid $mainColor;
    box-shadow: $shadows;
    padding-left: 7px;
    padding-right: 7px;
    padding-bottom: 3px;
    border-radius: 15px;
    margin-top: 25px;
    user-select: none;
    font-weight: bolder;
}
.arrow:hover{
    box-shadow: inset 0px -4px 15px rgba(255, 255, 255, 0.75);
    color: white;
    border: 2px solid white;
}


.jobDesc {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    ul{
        display: flex;
        flex-direction: column;
        }
}


#orderButton{
    margin-top: -200px;
    margin-bottom: 48px;
    font-size: 3rem;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
}

#orderButton:hover{
    font-size: 3.2rem;
    box-shadow: inset 0px -4px 15px rgba(255, 255, 255, 0.75);
    color: white;
    border: 2px solid white;
}

#changeOrder:checked + .more .arrow {
    transform: scaleY(-1);
}

#changeOrder:checked ~ .jobsOrder {
    flex-direction: column-reverse; 
}

#jobDesc1 {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease;
}

#toggleDesc1:checked + .more .arrow {
    transform: rotate(180deg);
}

#toggleDesc1:checked ~ #jobDesc1 {
    max-height: 1000px;
}

#jobDesc2 {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease;
}

#toggleDesc2:checked + .more .arrow {
    transform: rotate(180deg);
}

#toggleDesc2:checked ~ #jobDesc2 {
    max-height: 1000px;
}

#jobDesc3 {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease;
}

#toggleDesc3:checked + .more .arrow {
    transform: rotate(180deg);
}

#toggleDesc3:checked ~ #jobDesc3 {
    max-height: 1000px;
}

.break{
    margin-bottom: 75px;
}

.istruzione{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.scuola:first-of-type{
    margin-top: 0;
}

.scuola {
    padding: 48px;
    .cvSection{
        width: 90%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        gap: 50px;
        text-align: center;
    }
    p{
    margin-bottom:20px;
    width: 100%;
    }



    #voto{
        margin: 0;
    }
}

#lavoroTitle{
    margin-top: 200px;
}

#lavoroTitle:hover{
    box-shadow: $shadows;
}

#istruzioneTitle:hover{
    box-shadow: $shadows;
}

#Start2Impact{
    margin-right: 16px;
}

#Setificio{
    margin-left: 16px;
}

footer{
    .foto{
        width: 150px;
    }
}


@media screen and (max-width: 992px) {
    .jobDesc{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        .cvSection{
            display: flex;
            flex-direction: column;
            p{text-align: center;}
            ul{text-align: center;}
        }
    }

    .istruzione{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 50px;

        .scuola{
            padding: 48px 20px 48px 20px;
        }

        #Start2Impact{
            margin:0;
            width: 100%;
            .cvSection{
                display: flex;
                flex-direction: column;
                gap: 50px;
                p{text-align: center;}
                ul{text-align: center;}
            }
        }

        #Setificio{
            width:100%;
            margin: 0;
        }
    }

}